<!DOCTYPE html>
<html>
  <head>
    <title>OauthTest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'OAuth Test', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><%= current_user.name %></li>
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login with OAuth2', '/auth/micro_oauth2' %></li>
              <li><%= link_to 'Login with Google', '/auth/google_oauth2' %></li>
              <li><%= link_to 'Login with Reddit', '/auth/reddit' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
